<footer id="footer">
  <div class="footer-left">
    Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
        <% } %>
	<li><a href="/cgu" alt="Conditions Générales d'Utilisation">CGU</a></li>
	<li><a href="/mentions-legales" alt="Mentions légales">Mentions Légales</a></li>
      </ul>
    </nav>
  </div>
</footer>
